---
layout: layout.liquid
title: Lab 8
---

<div class="table-container">
<table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>ISBN</th>
      </tr>
    </thead>
    <tbody id="books">
    </tbody>
  </table>
</div>